#kitchenUtensils {
    max-width: 300px;
}

.productImg {
    max-width: 100px;
}

.storeImageContainer {
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
}

/* Media Queries */
@media screen and (max-width: 991px) {

    .productDescription {
        display: none;
    }

    .productImg {
        max-width: 70px;
    }
}