.productImg {
    max-width: 100px;
}

/* Media Queries */
@media screen and (max-width: 991px) {

    .productDescription {
        display: none;
    }

    .productImg {
        max-width: 70px;
    }
}